  <options>
    <option type="ts_http" name="user_agent">
      <user_agent probability="100">{{user_agent}}</user_agent>
    </option>
    <option name="ports_range" min="1025" max="65535"/>
  </options>
  